/* Палитра цветов */

/* 
Основной цвет фона #FFFFFF 
Вторичный цвет фона #E5E5E5
Основной цвет текста  #212121
Дополнительный цвет текста #757575 
Акцент #2196F3 
*/

:root {
  --primary-text-color: var(#212121);
  --secondary-texy-color: var(#757575);
  --primary-text-backgroundcolor: var(#ffffff);
  --secondary-text-backgroundcolor: var (#e5e5e5);
  --accent-color: var(#2196f3);
}

/* Site-nav-list */

.logo {
  color: #212121;
}
.web {
  color: #2196f3;
}

.site-nav link {
  color: #212121;
}
.link-current {
  color: #2196f3;
}

.title {
  color: var(--primary-text-color);
}
.auth-nav a {
  color: #212121;
}
.mail:hover {
  color: #2196f3;
}

/* Основная секция */
.main-title {
  color: white;
  background-color: brown;
  text-align: center;
}

.main-title.button {
  color: white;
  text-align: center;
}

/* Преимущества */

.features-text {
  color: #757575;
}

/* Чем мы занимаемся */
.works-title {
  color: #ffffff;
  background-color: #757575;
}
